<div *ngIf="isBrowser&&display" [@fadeInOut]>
<div class="backGround" (click)="close()">

</div>
<div class="basket">
  <div class="basketH">Кошик</div>
 <div class="productsContainer">
 <app-basket-product *ngFor="let item of  basketsElements" [product]="item"></app-basket-product>

 </div>
<div class="totalPrice">{{totalPrice+'₴'}}</div>
  <div class="btn-container">
  <div class="continue btn" (click)="close()">
    Продовжити покупки
  </div>
   <div class="confirm btn" (click)="confirm()">
    Оформити замовлення
  </div>
    </div>
</div>
</div>
<app-confirm-order *ngIf="isBrowser&&!display" (closeConfirm)="MergeData($event)" (closeOrder)="close()" ></app-confirm-order>
