.body
{
  margin: 0;
  background-color: #171717;
  width: 100% ;
  left:0;
  top:0;
  overflow-y: scroll;
    user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body{
  background-color: #171717;
}
.ngx-charts text {
  fill: white;
  font-size: 24px;
}


.ngx-charts .legend-labels text {
  fill: white;

}

.ngx-charts .chart-tooltip {
    font-size: 22px;
}

