
<div style="width: 60%; margin: auto;"  *ngIf="isBrowser" [@fadeInOut] >
  <img src="{{view}}" style="width: 100%" alt="">
  <div class="headerTxt">Про вино</div>
    <div class="mainTxt">
  Дозвольте розповісти вам про наше вино, яке збирається з усіх куточків Європи, щоб ви могли насолодитися його чудовим смаком. Ми ретельно відбираємо кращі сорти винограду, які потім віджимаються і витримуються в дубових бочках, щоб досягти ідеального балансу та прекрасного аромату.<p>
І яке вино обрати вам? Ми готові допомогти вам розібратися в різноманітності пропозицій. Червоне, біле, сухе, солодке, напівсолодке - всі ці терміни мають свій зміст і особливості, які ми готові вам пояснити.<p>
Тож дозвольте нам провести вас через наш асортимент і допомогти вам обрати той самий напій, який подарує вам істинне задоволення і незабутній смак.
</div>
  <div class="headerTxt">Колір вина</div>
    <div class="mainTxt">
  У світі виноробства колір вина відіграє важливу роль і часто є першим візуальним враженням, яке ми отримуємо. Ось короткий огляд основних кольорів вин</div>
  <app-image-slider [slides]="wines"></app-image-slider>
    <div class="mainTxt" style="border-top:none">
    Колір вина може дати нам підказку на його смакові характеристики і стиль, хоча, звісно, смак - це ще один важливий аспект, який слід враховувати при виборі вина.</div>
  <div class="headerTxt">Солодкість вина</div>
    <app-zuker></app-zuker>
    <div class="mainTxt">
Солодкість вина визначається вмістом цукру в ньому після процесу ферментації. Ось короткий огляд різних рівнів солодкості вина
</div>
    <div class="mainTxt" style="border-top:none">Крім того, залежно від регіону та традицій виробництва, можуть існувати додаткові категорії солодкості вина. Солодкість вина є важливим фактором, який впливає на його смакові характеристики та спосіб застосування, тому під час вибору вина корисно враховувати рівень його солодкості.</div>
</div>
