.mainTxt{
  font-size: 35px;
  color: black;
  font-family: Inter, sans-serif;
  top: 18%;
  left: 5%;
}
.headerTxt{
  font-size: 50px;
  color: black;
  font-family: Inter,sans-serif;
  font-weight: bold;
  top: 5%;
  left: 5%;
}
