<div class="slider">
  <div class="slide">
    <img id="image" style="width: 100%;" [src]="getCurrentSlideUrl()">
    <div class="headerTxt">{{getCurrentHeadText()}}</div>
    <div class="mainTxt">{{getCurrentMainText()}}</div>
    <div class="button">
      <div class="circle" style="background-color: #FF6C6C" (click)="goTo(0)"></div>
      <div class="circle" style="background-color: #F0F0F0" (click)="goTo(1)"></div>
      <div class="circle" style="background-color: #FF86E4" (click)="goTo(2)"></div>
      <div class="circle" style="background-color: #FFC045" (click)="goTo(3)"></div>
    </div>
  </div>
</div>
