<form [formGroup]="basketForm" >
<div class="container">
  <img class="bottle" [src]="product.wine.image">
  <div class="productContainer">
  <div class="productText">{{product.wine.description}}</div>
     <div class="price">{{product.wine.price*product.count+'₴'}}</div>
  <div class="counterContainer">
  <div class="btn" (click)="pluse()">+</div>
  <input class="counter"  formControlName="count"  (change)="check()" [(ngModel)]="product.count">
  <div class="btn" (click)="minus()"> <p class="minus">–</p></div>
  </div>
    </div>
</div>
</form>
